<manifest package="com.camnter.easygank"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:name=".EasyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_easy_gank"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".views.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppWindowTranslucentStatusTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".views.EasyWebViewActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"/>

        <activity
            android:name=".views.DailyDetailActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".views.PictureActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppWindowTranslucentBackgroundTheme"/>

        <activity
            android:name=".views.AboutActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <service
            android:name="com.umeng.update.net.DownloadingService"
            android:process=":DownloadingService"/>

        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>


        <meta-data
            android:name="UMENG_APPKEY"
            android:value="${UMENG_APPKEY}"/>

        <meta-data
            android:name="CHANNEL_NAME"
            android:value="${CHANNEL_NAME}"/>

        <meta-data
            android:name="DEBUG"
            android:value="${DEBUG}"/>

    </application>

</manifest>
